body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  h1 {
    margin: 0;
    text-align: left;
  }

  #home {
    position: absolute;
    top: 30px; 
    right: 30px; 
    width: 70px; 
    height: 70px; 
    border-radius: 70%; 
    transition: transform 0.5s ease; /* Dönme efekti için geçiş tanımı */
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 250px;
  }

  .image-container {
    flex: 1;
    margin: 0 10px;
  }

  .content {
    flex: 2;
    text-align: justify;
    margin-left: 50px;
    margin-right: 600px;
  }

  #img1 {
    max-width: 500px;
    max-height: 500px;
    margin-left: 20px;
  }

  #img2 {
    max-width: 30px;
    max-height: 30px;
    margin-left: 0px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  ul li {
    flex: 1 0 auto;
  }

  ul li img {
    margin: 0;
  }


  @media only screen and (max-width: 1050px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0;
      }
    
      h1 {
        margin: 0;
        text-align: left;
      }

      #home {
        position: absolute;
        top: 2px; 
        right: 5px; 
        width: 70px; 
        height: 70px; 
        border-radius: 70%; 
        transition: transform 0.5s ease; /* Dönme efekti için geçiş tanımı */
      }
    
      .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1460px;
        margin: 0 auto;
        margin-top: 50px;
      }
    
      .image-container {
        flex: 1;
        margin: 0 10px;
      }
    
      .content {
        text-align: justify;
        margin: 20px 0; /* Add spacing above and below content */
      }
    
      #img1 {
        max-width: 300px;
        max-height: 300px;
        display: flex;
        margin: 0 auto;
      }
    
      #img2 {
        max-width: 20px;
        max-height: 20px;
        margin-left: -5px;
      }
      
      ul {
        display: flex;
        list-style-type: none;
      }
      
      ul li {
        flex: 1 0 auto;
      }
    
      ul li img {
        margin: 0;
      }
  }
